html,
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: 'Gilroy';
  font-weight: 400;
  font-size: 16px;
  color: #0b0b0b;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-text-size-adjust: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: geometricPrecision;
  counter-reset: accordion;
}
img {
  max-width: 100%;
}
svg use {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
input,
button,
textarea {
  -webkit-appearance: none;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input,
textarea {
  color: #252525;
  font-family: 'Gilroy';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  height: 55px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 2px solid white;
  outline: none;
  padding: 5px 18px;
}
input:focus,
textarea:focus {
  border-color: #ceffb3 !important;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #252525;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #252525;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #252525;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #252525;
}
textarea {
  padding-top: 14px;
  padding-bottom: 14px;
}
textarea.error,
input.error,
label.error {
  border-color: red!important;
}
label.error input {
  border-color: red!important;
}
label.checkbox {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.73px;
  line-height: 25px;
  color: #FFFFFF;
  display: table;
  position: relative;
  padding-left: 27px;
  cursor: pointer;
  margin-bottom: 11px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0!important;
}
label.checkbox:last-of-type {
  margin-bottom: 0;
}
label.checkbox .check {
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  height: 20px;
  width: 20px;
  border: 1px solid #000000;
  border-radius: 3px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  top: 3px;
}
label.checkbox span {
  font-size: 14px;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
label.checkbox span span {
  opacity: 0.5;
}
label.checkbox input {
  display: none;
}
label.checkbox input:checked + .check:after {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 12px;
  width: 12px;
  border-radius: 1px;
  background-color: #000000;
}
label.checkbox.error .check {
  border-color: RED;
}
label.with_line,
.with_line {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}
label.with_line:after,
.with_line:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0px;
  height: 2px;
  width: 0;
  background: #ff0f21;
  -webkit-transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
label.with_line.hover:after,
.with_line.hover:after {
  width: 100%;
}
label.with_line .fs-dropdown:before,
.with_line .fs-dropdown:before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0px;
  height: 2px;
  width: 0;
  background: #4a93bb;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 7;
}
label.with_line .fs-dropdown-selected,
.with_line .fs-dropdown-selected {
  border-radius: 0;
  padding-left: 0;
}
label.with_line .fs-dropdown-open:before,
.with_line .fs-dropdown-open:before {
  width: 100%;
}
label.with_line .fs-dropdown-item,
.with_line .fs-dropdown-item {
  min-height: 37px;
}
label.with_line .fs-dropdown-options,
.with_line .fs-dropdown-options {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}
label.with_line input,
.with_line input,
label.with_line .fs-dropdown-selected,
.with_line .fs-dropdown-selected {
  border: 1px solid transparent;
  border-bottom-color: #484848;
  font-size: 10px;
  width: 100%;
  color: #686868;
  text-transform: uppercase;
  height: 37px;
  outline: none;
  background: none;
  font-weight: 600;
}
label.with_line input::-webkit-input-placeholder,
.with_line input::-webkit-input-placeholder,
label.with_line .fs-dropdown-selected::-webkit-input-placeholder,
.with_line .fs-dropdown-selected::-webkit-input-placeholder {
  color: #686868;
}
label.with_line input::-moz-placeholder,
.with_line input::-moz-placeholder,
label.with_line .fs-dropdown-selected::-moz-placeholder,
.with_line .fs-dropdown-selected::-moz-placeholder {
  color: #686868;
}
label.with_line input:-moz-placeholder,
.with_line input:-moz-placeholder,
label.with_line .fs-dropdown-selected:-moz-placeholder,
.with_line .fs-dropdown-selected:-moz-placeholder {
  color: #686868;
}
label.with_line input:-ms-input-placeholder,
.with_line input:-ms-input-placeholder,
label.with_line .fs-dropdown-selected:-ms-input-placeholder,
.with_line .fs-dropdown-selected:-ms-input-placeholder {
  color: #686868;
}
label.with_line.error input,
.with_line.error input {
  border-bottom-color: red!important;
}
label.with_line.error:after,
.with_line.error:after {
  background: red!important;
}
.with_line:hover:after {
  width: 100%;
}
.with_line:after {
  bottom: -2px;
}
button {
  outline: none;
}
.clear {
  clear: both;
  float: none;
}
.clear:after {
  content: "";
  display: table;
  clear: both;
  float: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: initial;
  margin-top: 0;
  color: #0b0b0b;
  font-family: 'Gilroy';
  letter-spacing: 0;
  line-height: 120%;
}
h1,
.h1 {
  font-size: 96px;
  letter-spacing: 7.68px;
  font-weight: 900;
}
h1.small,
.h1.small {
  font-size: 24px;
  letter-spacing: 0.6px;
  line-height: 28px;
}
h2,
.h2 {
  font-size: 40px;
  margin-bottom: 39px;
  font-weight: bold;
  font-weight: 900;
  letter-spacing: -0.15px;
}
h2.big,
.h2.big {
  font-weight: bold;
  font-size: 48px;
  line-height: 150%;
  letter-spacing: 0.05em;
}
h2.medium,
.h2.medium {
  font-size: 36px;
  line-height: 130%;
}
h2.small,
.h2.small {
  font-size: 24px;
  letter-spacing: 0.6px;
  line-height: 28px;
}
h3,
.h3 {
  font-size: 30px;
}
h4,
.h4 {
  font-size: 26px;
  margin-bottom: 18px;
}
h5,
.h5 {
  font-weight: 900;
  font-size: 24px;
  line-height: 150%;
}
h6,
.h6 {
  font-size: 18px;
}
.alignTextLeft {
  text-align: left!important;
}
.alignTextCenter {
  text-align: center!important;
}
.alignTextRight {
  display: block;
  text-align: right!important;
}
.justifyCenter {
  justify-content: center;
}
.alignCenter {
  align-items: center;
}
.alignEnd {
  align-items: flex-end;
}
.between {
  justify-content: space-between;
}
.flexColumn {
  display: flex;
  flex-direction: column;
}
a {
  transition: color 0.2s;
  text-decoration: none;
  color: #00994E;
}
a:hover {
  text-decoration: underline;
}
p {
  margin-top: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
}
.clear {
  clear: both;
}
.container {
  padding: 43px 100px;
  max-width: 1490px;
  margin: auto;
  position: relative;
  width: 100%;
  z-index: 1;
}
.container.fullWidth {
  max-width: initial;
}
.container.no_padding_top {
  padding-top: 0;
}
.container.no_padding_bottom {
  padding-bottom: 0;
}
.container.bigPadding {
  padding-top: 75px;
  padding-bottom: 80px;
}
.container_without_padding {
  padding-top: 0;
  padding-bottom: 0;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
.wrapper {
  overflow: hidden;
  perspective: 800px;
}
.wrapper > div {
  position: relative;
}
.wrapper > div:after {
  content: "";
  display: table;
  clear: both;
}
.mainBtn {
  backface-visibility: hidden;
  height: 38px;
  border: 2px solid #00994E;
  min-width: 200px;
  color: #ffffff;
  font-family: 'Gilroy';
  outline: none;
  cursor: pointer;
  z-index: 5;
  transition: 0.2s;
  text-decoration: none!important;
  min-height: 38px;
  padding: 5px 25px 4px;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  perspective: 800px;
  transform-origin: 50% 100%!important;
}
.mainBtn:before,
.mainBtn:after,
.mainBtn .dopDiv:before,
.mainBtn .dopDiv:after {
  content: "";
  position: absolute;
  left: 2px;
  top: 1px;
  width: 100%;
  height: 100%;
  background: rgba(0, 153, 78, 0.2);
  z-index: -1;
  transition: 0.2s;
}
.mainBtn:after {
  content: "";
  left: 4px;
  top: 3px;
}
.mainBtn .dopDiv:before {
  left: 6px;
  top: 5px;
}
.mainBtn .dopDiv:after {
  left: 8px;
  top: 7px;
}
.mainBtn .dopSecondDiv {
  position: absolute;
  left: -2px;
  right: 0;
  top: -2px;
  bottom: 0;
}
.mainBtn.big {
  height: 60px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.8px;
  padding-left: 29px;
  padding-right: 29px;
}
.mainBtn.no_bg {
  background: none;
  color: #242424;
  border-radius: 3px;
  border: 1px solid #000000;
  background-color: white;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.mainBtn.no_bg:hover {
  background: #000000;
  color: white;
}
.mainBtn svg path {
  transition: 0.2s;
}
.mainBtn:hover {
  transform: translate(8px, 7px);
  border-color: #00994E;
  background: #00994E;
}
.mainBtn:hover .dopSecondDiv {
  left: -8px;
  top: -7px;
}
.mainBtn:hover:before,
.mainBtn:hover:after,
.mainBtn:hover .dopDiv:before,
.mainBtn:hover .dopDiv:after {
  left: 0;
  top: 0;
  opacity: 0;
}
.mainBtn:hover .leftArrow svg,
.mainBtn:hover .rightArrow svg {
  left: 0px!important;
  top: 0px!important;
}
.mainBtn:hover svg path {
  stroke: #00994E;
}
.mainBtn.bringHover:hover {
  border-color: #007940;
  background: #007940;
}
.mainBtn.bringHover:hover svg path {
  stroke: #007940;
}
.mainBtn .leftArrow,
.mainBtn .rightArrow {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 100%;
  right: 100%;
}
.mainBtn .leftArrow svg,
.mainBtn .rightArrow svg {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.2;
  transition: 0.2s;
}
.mainBtn .leftArrow svg:first-child,
.mainBtn .rightArrow svg:first-child {
  opacity: 1;
}
.mainBtn .leftArrow svg:nth-child(2),
.mainBtn .rightArrow svg:nth-child(2) {
  left: 3px;
  top: 2px;
}
.mainBtn .leftArrow svg:nth-child(3),
.mainBtn .rightArrow svg:nth-child(3) {
  left: 4px;
  top: 3px;
}
.mainBtn .leftArrow svg:nth-child(4),
.mainBtn .rightArrow svg:nth-child(4) {
  left: 5px;
  top: 4px;
}
.mainBtn .rightArrow {
  right: auto;
  top: auto;
  left: 100%;
  bottom: 100%;
}
.mainBtn.white {
  border-color: white;
}
.mainBtn.white:before,
.mainBtn.white:after,
.mainBtn.white .dopDiv:before,
.mainBtn.white .dopDiv:after {
  background: rgba(255, 255, 255, 0.1);
}
.mainBtn.white:hover {
  background: white;
  color: #0A2314;
}
.mainBtn.white svg path {
  stroke: white;
}
.mainBtn.default {
  background: #00994E;
  font-size: 18px;
  line-height: 22px;
  text-transform: none;
}
.mainBtn.default:hover {
  transform: translate(0, 0);
}
.mainBtn.default svg {
  margin-right: 15px;
}
.mainBtn,
.social a,
.presentationBtn {
  transition: 0.2s;
}
.mainBtn:active,
.social a:active,
.presentationBtn:active {
  transform: translateX(8px) translateY(7px) translateZ(-10px);
}
.owl-carousel {
  touch-action: none;
}
.owl-dot {
  display: inline-block;
  margin-right: 20px;
}
.owl-dot:last-child {
  margin-right: 0;
}
.owl-dot span {
  border-radius: 50%;
  display: block;
  width: 11px;
  height: 11px;
  border: 1px solid #282828;
  background-color: #ffffff;
  cursor: pointer;
}
.owl-dot.active span {
  background-color: #161616;
}
.owl-prev,
.owl-next {
  width: 17px;
  height: 32px;
  float: left;
  background: red url(../img/vector-smart-object-copy.png) no-repeat center center;
  background-size: contain;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-prev {
  margin-right: 46px;
}
.owl-next {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.owl-dot {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.seo {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Gilroy';
  color: #505050;
}
.seo.container {
  padding-top: 53px;
  padding-bottom: 10px;
}
.seo p {
  margin-bottom: 24px;
}
.seo ul,
.seo ol {
  margin-bottom: 22px;
  padding-left: 0;
  list-style: none;
}
.seo ul li,
.seo ol li {
  position: relative;
  margin-bottom: 17px;
  padding-left: 26px;
  margin-bottom: 10px;
}
.seo ul li:last-child,
.seo ol li:last-child {
  margin-bottom: 0;
}
.seo ul li:before,
.seo ol li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background-color: #ff0f21;
}
.close-btn {
  display: none;
  width: 30px;
  height: 21px;
  position: absolute;
  right: 20px;
  top: 22px;
  bottom: 0;
  margin: auto;
}
.close-btn:before,
.close-btn:after {
  background-color: #ffffff;
  content: "";
  display: block;
  height: 3px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.close-btn:before {
  -webkit-box-shadow: 0 9px 0 #ffffff;
  box-shadow: 0 9px 0 #ffffff;
  margin-bottom: 15px;
}
.close-btn.on:before {
  -webkit-box-shadow: 0 0 0 #ffffff;
  box-shadow: 0 0 0 #ffffff;
  -webkit-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
}
.close-btn.on:after {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}
.menu-btn {
  overflow: hidden;
  width: 22px;
  height: 16px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  display: none;
  -webkit-transform: none;
  transform: none;
}
.menu-btn.no_access {
  opacity: 0.5;
}
.menu-btn:before,
.menu-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  height: 2px;
  width: 22px;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  opacity: 0;
}
.menu-btn.active_line2 .line {
  opacity: 0;
  visibility: hidden;
}
.menu-btn.active_line2:before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.menu-btn.active_line2:after {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.menu-btn .line {
  background-color: white;
  height: 2px;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  width: 100%;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  position: absolute;
  -webkit-animation: slide-bar-long 5s 0.3s infinite;
  animation: slide-bar-long 5s 0.3s infinite;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: none;
  transform: none;
  border-radius: 5%;
}
.menu-btn .line:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  left: calc(100% + 8px);
  height: 100%;
  width: 100%;
  border-radius: 5%;
}
.menu-btn .line:nth-child(1),
.menu-btn .line:nth-child(3) {
  display: block;
  margin-right: 0;
  content: "";
  background-color: white;
  right: 0;
  position: absolute;
}
.menu-btn .line:nth-child(1):before,
.menu-btn .line:nth-child(3):before {
  background-color: white;
  left: calc(100% + 8px);
}
.menu-btn .line:nth-child(1) {
  top: 0px;
  bottom: auto;
  -webkit-animation: slide-bar 5s infinite;
  animation: slide-bar 5s infinite;
  width: 100%;
}
.menu-btn .line:nth-child(3) {
  top: auto;
  bottom: 0px;
  -webkit-animation: slide-bar 5s 0.58s infinite;
  animation: slide-bar 5s 0.58s infinite;
}
.menu-btn.active .line {
  opacity: 0;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
@keyframes slide-bar {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(calc(-100% - 8px), 0, 0);
  }
}
@keyframes slide-bar-long {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(calc(-100% - 8px), 0, 0);
  }
}
.fs-dropdown {
  width: 100%;
  font-size: 14px;
  outline: 0;
}
.fs-dropdown-selected {
  border-radius: 6px;
  height: 55px;
  padding-left: 18px;
  padding-right: 18px;
  outline: none;
  font-size: 14px;
  border: 0;
  padding-right: 35px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #252525;
  font-family: 'Gilroy';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.fs-dropdown-selected:after {
  content: "";
  position: absolute;
  margin: auto;
  width: 22px;
  height: 12px;
  top: 4px;
  bottom: 0;
  right: 15px;
  background: url(../img/arrow.png) no-repeat center center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.fs-dropdown-open .fs-dropdown-selected:after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.fs-dropdown-open .fs-dropdown-selected {
  border-radius: 6px 6px 0 0!important;
}
.fs-dropdown-options {
  -webkit-box-shadow: 0 23px 38px rgba(0, 0, 0, 0.13);
  box-shadow: 0 23px 38px rgba(0, 0, 0, 0.13);
  border: 1px solid #e3e3e3;
  border-top: 0;
  top: calc(100% + 3px);
  top: 100%;
  border-radius: 0 0 6px 6px;
}
.fs-dropdown-options button {
  min-height: 45px;
  padding-left: 22px;
  padding-right: 22px;
  color: #5a676e;
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.fs-dropdown-options button:first-of-type {
  border-top: 0;
}
.fs-dropdown-options button:hover {
  background: #ceffb3;
}
.fs-dropdown-bottom .fs-dropdown-options {
  bottom: 100%;
  border-radius: 6px 6px 0 0;
  border-bottom: 0;
}
.fs-dropdown-bottom .fs-dropdown-selected {
  border-radius: 0 0 6px 6px!important;
}
.fs-dropdown-item_selected {
  background: none;
}
.fs-dropdown-item {
  font-size: 14px;
  min-height: 55px;
  height: 55px;
  color: #252525 !important;
  font-family: 'Gilroy';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.tabs {
  padding-top: 49px;
  margin-bottom: 46px;
}
.tabs .main_tabs div {
  color: #252525;
  font-family: 'Gilroy';
  font-size: 28px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: underline;
  display: inline-block;
  margin-right: 47px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tabs .main_tabs div:last-child {
  margin-right: 0;
}
.tabs .main_tabs div:hover {
  color: #ffafcf;
}
.tabs .main_tabs div.active {
  color: #252525 !important;
  text-decoration: none;
}
.tabs .tabs_content {
  margin-top: 36px;
}
.tabs .tabs_content .before_slider:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -50vw;
  left: -50vw;
  background-color: rgba(237, 237, 237, 0.5);
  display: block;
  z-index: -1;
}
.tabs .tabs_content .item:nth-child(1) .container {
  padding-top: 25px;
}
.tabs .tabs_content .item:nth-child(2n + 2) {
  background-color: rgba(237, 237, 237, 0.5);
}
.tabs .tabs_content .item .container {
  padding-top: 14px;
  padding-bottom: 0;
}
.tabs .tabs_content .item .before_slider {
  padding-bottom: 19px;
}
.tabs .tabs_content .item .offer {
  margin-bottom: 13px;
}
.animation0s {
  animation: none!important;
  animation-delay: 0s!important;
}
.animation0s * {
  animation: none!important;
  animation-delay: 0s!important;
}
.transition0s {
  transition: 0s!important;
  transition-delay: 0s!important;
}
.transition0s * {
  transition: 0s!important;
  transition-delay: 0s!important;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.row.nowrap {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.row .w100 {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.row .w50 {
  width: calc(50% - 30px);
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}
.row .w33 {
  width: calc(33.333% - 30px);
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}
.row .w25 {
  width: calc(25% - 30px);
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}
.nowrap {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.between {
  justify-content: space-between;
}
.margin0 {
  margin: 0;
}
.custom_dropdown {
  display: inline-block;
  position: relative;
}
.custom_dropdown > a {
  position: relative;
}
.custom_dropdown .top {
  position: relative;
  z-index: 1;
  padding-right: 19px;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  padding-left: 20px !important;
}
.custom_dropdown .top:before {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  background: white;
  top: -7px;
  bottom: 0px;
  z-index: -1;
  border-radius: 15px 15px 0 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.custom_dropdown .top button {
  background: none !important;
}
.custom_dropdown .top .arrow {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 1px;
  bottom: 0;
  right: 0;
  margin: auto;
}
.custom_dropdown .top .arrow:after {
  content: "";
  position: absolute;
  top: -2px;
  bottom: 0;
  right: 0;
  left: 0;
  background: url(../img/arrow.png) no-repeat center center;
  width: 11px;
  height: 7px;
  margin: auto;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.custom_dropdown .hidden .wrap {
  display: inline-table;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.custom_dropdown ul {
  display: none;
  position: absolute;
  overflow: hidden;
  top: 100%;
  left: 0px;
  right: 0px;
  background: white;
  z-index: 20;
  text-align: center;
  padding-left: 0;
  list-style: none;
  width: 100%;
  left: 0;
  padding-bottom: 10px;
}
.custom_dropdown ul li {
  margin: 0;
  width: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-bottom: 1px solid #d8d8d8;
  height: 40px;
  opacity: 1;
}
.custom_dropdown ul li:last-child {
  margin-bottom: 0;
}
.custom_dropdown ul li a {
  font-size: 12px;
  padding: 5px 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  position: relative;
  color: #000;
  text-decoration: none;
}
.custom_dropdown ul li a span {
  display: table-cell;
  vertical-align: middle;
}
.custom_dropdown ul li a:hover {
  color: #ff5111;
}
.custom_dropdown ul li:last-child {
  margin-bottom: 0;
  border: 0;
}
.custom_dropdown ul.slide_top {
  top: auto;
  bottom: calc(100% + 3px);
}
.custom_dropdown.open .arrow {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.custom_dropdown.open .top:before {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.helloBlock {
  text-align: center;
  margin-bottom: 25px;
}
.helloBlock img {
  margin: 0 auto 25px;
}
.mobile_row .wrap,
.popupContent,
.popupWrap {
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.line_hover {
  position: relative;
  display: inline-table;
  text-decoration: none!important;
}
.line_hover:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background: #00994E;
  transform-origin: 100% 0;
  transform: scale(0, 1);
  transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.line_hover:hover:after,
.line_hover.active:after {
  animation: line_hover 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) both;
}
.line_hover.tel:after {
  left: 1px;
  right: 3px;
}
.line_hover.type2:after {
  bottom: -2px;
  width: 100%;
}
.line_hover.type2:before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 1px;
  width: 100%;
  background: #E9F3F7;
}
.line_hover.big:after {
  height: 4px;
  bottom: 0;
}
.line_hover.center:after {
  bottom: 40%;
}
@keyframes line_hover {
  0% {
    transform-origin: 0% 0;
    transform: scale(0, 1);
  }
  49.9% {
    transform-origin: 0% 0;
    transform: scale(1, 1);
  }
  50% {
    transform-origin: 100% 0;
    transform: scale(1, 1);
  }
  100% {
    transform-origin: 100% 0;
    transform: scale(0, 1);
  }
}
.lazy {
  opacity: 0;
}
.mainLogo {
  transition: 0.2s;
  width: 235px;
}
.firstScreen {
  padding-top: 120px;
  padding-bottom: 77px;
  position: relative;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0.2) 120%);
}
.firstScreen .container {
  z-index: 2;
}
.firstScreen .content {
  text-align: center;
  font-family: Gilroy;
  font-size: 28px;
  line-height: 42px;
  font-weight: 500;
}
.firstScreen .content * {
  color: white;
}
.firstScreen .content h1 {
  text-transform: uppercase;
  margin-bottom: 3px;
}
.firstScreen .content .text {
  max-width: 912px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 69px;
  font-weight: 500;
  font-size: 28px;
  line-height: 150%;
}
.firstScreen .bottomRow {
  position: absolute;
  left: 95px;
  right: 95px;
  bottom: 50px;
}
.firstScreen .bgLines,
.firstScreen .bottomRow {
  z-index: 1;
}
.fullHeight {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 50;
  transition: 0.2s;
  perspective: 800px;
}
header .container {
  transition: 0.2s;
}
header .rightBlock {
  display: flex;
  align-items: center;
  padding-right: 5px;
  min-width: 236px;
  justify-content: flex-end;
}
header.small {
  background: rgba(0, 0, 0, 0.7);
}
header.small .container {
  padding-top: 23px;
  padding-bottom: 29px;
}
header.small .mainLogo {
  width: 170px;
  margin-right: 66px;
}
header.small .loginBtn {
  top: -3px;
}
nav ol {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
nav li {
  margin-right: 46px;
}
nav li:last-child {
  margin-right: 0;
}
nav a {
  font-size: 18px;
  line-height: 22px;
  color: white;
  font-weight: 600;
  text-decoration: none!important;
}
nav a.active {
  color: #00994E;
}
.langBlock {
  margin-right: 28px;
}
.langBlock ul {
  list-style: none;
  display: flex;
}
.langBlock li {
  margin-right: 19px;
}
.langBlock li:last-child {
  margin-right: 0;
}
.langBlock a {
  font-size: 18px;
  line-height: 22px;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
}
.langBlock a.active {
  color: #00994E;
  text-decoration: none;
}
.langBlock a.active:after {
  display: none;
}
.loginBtn {
  min-width: initial;
}
.social a {
  display: inline-flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
}
.social a:last-child {
  margin-right: 0;
}
.social a .hover {
  transition: 0.2s;
}
.social a:hover .hover {
  opacity: 0.2;
}
.socialBtn {
  min-width: initial;
  min-height: initial;
  padding: 0;
}
.socialBtn:hover {
  transform: none;
}
.socialBtn:before,
.socialBtn:after,
.socialBtn .dopDiv:before,
.socialBtn .dopDiv:after {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.05);
}
.socialBtn:before {
  left: 0;
  top: 0;
}
.socialBtn:after {
  left: 1px;
  top: 1px;
}
.socialBtn .dopDiv:before {
  left: 2px;
  top: 2px;
}
.socialBtn .dopDiv:after {
  left: 3px;
  top: 3px;
}
.presentationBtn {
  display: inline-flex;
  align-items: center;
  color: #A8A8A8;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none!important;
}
.presentationBtn svg {
  margin-right: 13px;
}
.presentationBtn .hover {
  transition: 0.2s;
}
.presentationBtn:hover .hover {
  opacity: 0.2;
}
.partnersItem {
  text-align: center;
  height: 50px;
  display: inline-flex;
  align-items: center;
}
.partnersItem img {
  max-height: 50px;
  max-width: 141px;
  object-fit: contain;
  display: block;
  margin: auto;
}
.partnersBlock {
  padding-top: 23px;
  margin-bottom: 65px;
}
.partnersBlock:before {
  content: '';
  position: absolute;
  left: -50vw;
  right: -50vw;
  bottom: -3px;
  height: 1px;
  background: rgba(136, 136, 136, 0.06);
}
.partnersSlider {
  width: calc(100% - 187px);
  padding: 0 26px;
}
.partnersText {
  position: relative;
  padding-left: 28px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin-right: 10px;
  width: 187px;
}
.partnersText h5 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  color: #888888;
  margin: 0;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 0.03em;
}
.partnersText svg {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.gridInfo {
  margin-bottom: 159px;
  padding-top: 65px;
}
.gridInfo .container {
  z-index: 1;
}
.gridInfo.fullHeight {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0;
}
.gridInfo.hasBG {
  background-color: #103820;
}
.gridInfo .text {
  margin-bottom: 80px;
  margin-left: 32%;
  margin-left: calc((100vw - 206px) / 8 - 14px);
}
.gridInfo .text h2 {
  letter-spacing: 0.3px;
  font-weight: 900;
}
.gridInfo.reverce .column:first-child {
  order: 1;
}
.gridInfo.reverce .text {
  margin-left: 0;
  margin-right: 0;
  max-width: 479px;
  margin-bottom: 0;
}
.gridInfo.reverce .illustrationWrap {
  width: 129%;
  margin-left: -15%;
  transform: translateY(18px);
}
.gridInfo.reverce .illustrationWrap:before {
  padding-top: 81%;
}
.gridInfo.first .text {
  max-width: 378px;
}
.gridInfo.first .blockTitle {
  transform: translateY(-44px);
}
.gridInfo.first .illustrationWrap:before {
  padding-top: 64.45%;
}
.gridInfo.third {
  padding-top: 80px;
}
.gridInfo.third .text ul li {
  margin-bottom: 15px;
}
.gridInfo.third .text {
  margin-bottom: 50px;
}
.gridInfo.third .illustrationWrap {
  margin-left: 0;
  transform: translate(-20%, -18px);
}
.text {
  color: #000000;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.text p,
.text ul,
.text ol,
.text table {
  margin-bottom: 27px;
}
.text .mainBtn {
  margin-top: 38px;
  margin-left: 13px;
}
.text p:last-child {
  margin-bottom: 0;
}
.illustrationWrap {
  width: 134%;
  margin-left: -29%;
  max-width: initial;
  max-height: 661px;
  position: relative;
}
.illustrationWrap:before {
  content: '';
  padding-top: 81%;
  display: block;
}
.illustration {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.whiteText *,
.whiteText .blockTitle span {
  color: #ffffff;
}
.text ul {
  list-style: none;
}
.text ul li {
  padding-left: 30px;
  position: relative;
  margin-bottom: 22px;
}
.text ul li:last-child {
  margin-bottom: 0;
}
.text ul li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 21px;
  height: 21px;
  background: url(../img/ulCircle.svg) no-repeat center center;
}
.blockTitle {
  display: inline-flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100px;
  right: 86px;
  z-index: 5;
}
.blockTitle svg {
  margin-bottom: 10px;
  position: relative;
  left: 1px;
}
.blockTitle span {
  font-size: 10px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 600;
  color: #00994E;
  writing-mode: tb-rl;
}
.blockTitle .wrap {
  width: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 600;
  color: #00994E;
}
.blockTitle .wrap span {
  display: block;
  transform: rotate(90deg);
  line-height: 7px;
  min-height: 7.5px;
  font-size: 12px;
  font-weight: 800;
  text-align: center;
}
.bgImg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.advantages {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0.2) 120%);
  padding: 199px 0 203px;
}
.advantages h2 {
  margin-bottom: 100px;
}
.advantagesList {
  list-style: none;
  margin-left: -5px;
  margin-right: 10px;
}
.advantagesList li {
  font-size: 18px;
  line-height: 150%;
  position: relative;
  max-width: 208px;
  width: calc(100% / 6);
}
.advantagesList li:nth-child(2n + 2) {
  margin-top: 183px;
}
.advantagesList h5 {
  padding-left: 14px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.72px;
  margin-bottom: 4px;
}
.advantagesList svg {
  top: 5px;
  left: 0;
  position: absolute;
}
.advantagesList p {
  font: inherit;
  padding-left: 4px;
}
.howWork {
  padding: 123px 0 175px;
}
.howWork .row {
  align-items: flex-end;
}
.howWork h2 {
  line-height: 130%;
  font-weight: 900;
}
.howWork .text {
  max-width: 427px;
}
.howWorkList {
  display: flex;
  list-style: none;
  margin-left: 12.3%;
}
.howWorkList li {
  flex: 1;
}
.howWorkList h5 {
  text-transform: uppercase;
  position: relative;
  padding-left: 25px;
  line-height: 130%;
  letter-spacing: 0.03em;
  margin-bottom: 27px;
  min-height: 62px;
}
.howWorkList .count {
  font-family: Formular;
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #0b0b0b;
  background: #00994E url(../img/howWorkListCount.jpg) no-repeat 80% 80%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 60px;
  display: table;
  margin-bottom: 30px;
  backface-visibility: hidden;
  display: inline-block;
}
.howWorkList p {
  font-size: 18px;
  line-height: 150%;
  padding-right: 10px;
}
.howWorkList p:last-child {
  margin-bottom: 0;
}
.howWorkList svg {
  top: -1px;
  left: -7px;
  position: absolute;
  height: 100%;
}
.subscribeBlock {
  background: #103820;
}
.subscribeBlock .container {
  z-index: 2;
}
.subscribeBlock h2 {
  font-family: Gilroy;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 0!important;
}
.subscribeBlock .column:last-child {
  padding-left: 8px;
}
.aboutBlock .container {
  padding-top: 0!important;
  padding-bottom: 0!important;
}
.aboutBlock .blockTitle .wrap,
.aboutBlock .blockTitle span {
  color: white;
}
.aboutBlock h2 {
  font-weight: 900;
  letter-spacing: 0.3px;
  margin-bottom: 47px;
}
.aboutBlock .columnLeft {
  padding-top: 200px;
  padding-bottom: 290px;
}
.aboutBlock .text {
  max-width: 439px;
}
.aboutBlock .columnRight {
  padding-left: 0;
  display: flex;
  flex-direction: column;
}
.aboutImg {
  flex: 1;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0.2) 120%);
  position: relative;
  z-index: 1;
}
.aboutImg img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
blockquote {
  margin: 0;
  padding: 0;
  position: relative;
  padding-left: 70px;
}
blockquote h1,
blockquote h2,
blockquote h3,
blockquote h4,
blockquote h5,
blockquote h6 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0.15px;
  margin-bottom: 16px;
}
blockquote p {
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  padding-left: 3px;
}
blockquote p:last-child {
  margin-bottom: 0;
}
blockquote:after {
  content: '';
  position: absolute;
  left: 4px;
  top: 11px;
  width: 33px;
  height: 40px;
  background: url(../img/blockquoteSmall.svg) no-repeat left top;
}
blockquote:before {
  content: '';
  position: absolute;
  left: 1px;
  top: 13px;
  width: 50px;
  height: 50px;
  background: url(../img/blockquoteBig.svg) no-repeat left top;
}
.blockquoteBlock {
  background: #103820;
  padding: 89px 0px 93px 22%;
  margin-right: -100px;
  position: relative;
  z-index: 1;
}
.blockquoteBlock blockquote {
  margin-right: -30px;
}
.blockquoteBlock:after {
  content: "";
  position: absolute;
  left: 100%;
  width: 50vw;
  background: inherit;
  top: 0;
  bottom: 0;
}
.bgLines.clone {
  z-index: 2;
}
.advantages:before,
.priceBlock:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: block;
  pointer-events: none;
  background: url('../img/background.png') repeat-y center center;
  left: 0;
  right: 0;
}
.advantages .bgLines,
.priceBlock .bgLines {
  z-index: 1;
  display: none;
}
.advantages .container,
.priceBlock .container {
  z-index: 2;
}
.priceBlock {
  padding-bottom: 41px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0.2) 120%);
}
.priceBlock .row {
  align-items: flex-end;
}
.priceBlock h2 {
  text-align: center;
}
.priceItem {
  width: 390px;
  max-width: 100%;
  background: #103820;
  padding: 23px 60px 49px;
  position: relative;
  z-index: 5;
}
.priceItem .title {
  color: #00994E;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 0 10px;
  position: relative;
  margin-bottom: 33px;
  margin-left: -60px;
  margin-right: -60px;
}
.priceItem .title svg {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  transform: translateY(-50%);
}
.priceItem .price {
  font-weight: bold;
  font-size: 14px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
  margin-bottom: 12px;
}
.priceItem .price .top {
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  margin-bottom: 5px;
  text-transform: lowercase;
}
.priceItem .price .top span {
  font-weight: 900;
  font-size: 64px;
  line-height: 32px;
  letter-spacing: 0.05em;
}
.priceItem .text {
  padding-left: 2px;
  margin-right: -10px;
}
.priceItem ul,
.priceItem .text {
  margin-bottom: 24px;
}
.priceItem .text ul li {
  padding-left: 34px;
  margin-bottom: 12px;
}
.priceItem .mainBtn {
  width: 100%;
}
.priceItem.trial {
  background: white;
}
.priceItem.trial .price,
.priceItem.trial .price * {
  color: #00994E;
}
.priceItem.trial .text ul li {
  color: #0B0B0B;
}
.topRow {
  margin-bottom: 114px;
}
.topRow h1,
.topRow h2,
.topRow h3,
.topRow h4,
.topRow h5,
.topRow h6 {
  margin-bottom: 0;
}
.showMoreFaq {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #1A5632;
  display: table;
  margin: 0 auto 0;
  cursor: pointer;
  padding: 10px 0;
}
.showMoreFaq svg {
  margin-left: 3px;
  animation: scrolldown 2s linear infinite;
}
@keyframes scrolldown {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(2px);
  }
  80% {
    transform: translateY(0px);
  }
}
.faqBlock {
  padding-top: 94px;
  padding-bottom: 120px;
}
.faqBlock .row {
  justify-content: center;
}
.faqBlock h2 br {
  display: none;
}
.accordionsWrap {
  padding-top: 12px;
  overflow: hidden;
  margin-bottom: -13px;
}
.accordionsWrap .hidden {
  display: none;
}
.accordionsMainBlock {
  display: none;
}
footer {
  padding-top: 57px;
  padding-bottom: 112px;
  background: #0A2314;
  position: relative;
}
footer nav {
  margin-bottom: 67px;
  margin-right: -3px;
}
footer nav ol {
  display: flex;
  justify-content: space-between;
}
footer nav ol a {
  letter-spacing: 0.05em;
}
footer .logo {
  text-align: center;
  margin-bottom: 68px;
}
footer .columnTitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: white;
  margin-bottom: 22px;
}
footer .payMethods {
  text-align: right;
}
footer .row.second .social,
footer .row.second .payMethods {
  flex: 1;
}
footer .row.second .middle {
  flex: 2;
  padding: 0 10px;
  text-align: center;
}
footer .row.second .middle .mainBtn {
  min-width: 220px;
}
footer .social a {
  margin-right: 27px;
}
footer .container.second {
  margin-top: 32px;
  padding-top: 60px;
}
footer .container.second .columnTitle {
  margin-bottom: 0;
}
footer .container.second .row {
  align-items: flex-end;
}
footer .container.second:before {
  content: '';
  position: absolute;
  left: -50vw;
  width: 150vw;
  top: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
footer .copy {
  font-size: 18px;
  line-height: 21px;
}
.payMethods img {
  margin-right: 17px;
}
.payMethods img:last-child {
  margin-right: 0;
}
.copyMail {
  display: table;
  margin: auto;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}
#video_html {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 1;
}
#video_html video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.partnersText svg {
  height: 100%;
}
.mobile_row {
  display: none;
  background: rgba(0, 0, 0, 0.9);
  height: calc(100vh - 47px);
  z-index: 50;
  position: absolute;
  top: 53px;
  left: -2px;
  right: -2px;
}
.mobile_row .wrap {
  padding-left: 42px;
  padding-right: 42px;
  padding-top: 36px;
  display: block;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  align-items: center;
}
.mobile_row nav {
  display: block!important;
  opacity: 1;
  margin-bottom: 19px;
}
.mobile_row nav a {
  font-size: 25px;
  color: #000000;
}
.mobile_row nav li {
  margin-bottom: 25px;
}
.mobile_row a {
  transform: scale(1.05) translate(24px, -24px);
  opacity: 0;
  transition: 0.5s ease-out;
}
header.show {
  background: rgba(0, 0, 0, 0.9);
  padding-top: 0!important;
  padding-bottom: 0!important;
}
header.show .mobile_row {
  display: block;
  height: 0;
  transition: 0.5s ease;
}
header.show .mainLogo {
  width: 126px!important;
}
header.show .container {
  padding-top: 13px!important;
  padding-bottom: 12px!important;
}
header.open .mobile_row {
  height: calc(100vh - 53px);
  padding-bottom: 20px;
}
header.open a {
  transform: scale(1) translate(0, 0);
  opacity: 1;
}
header.hide nav a {
  transform: scale(1.05) translate(24px, -24px);
  opacity: 0;
}
.mobile_row nav {
  margin-bottom: 0;
}
.mobile_row nav ol {
  display: block;
}
.mobile_row nav li {
  display: table;
  margin-right: 0;
  margin-bottom: 50px;
}
.mobile_row nav a {
  color: white;
  font-size: 60px;
}
.copyMailPopup {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 126px;
  text-align: center;
}
.copyMailPopup .mainBtn {
  height: 63px;
  width: 322px;
  max-width: 100vw;
}
.scrollTopBtn {
  position: fixed;
  right: 5px;
  bottom: 60px;
  z-index: 49;
  cursor: pointer;
  user-select: none;
  display: none;
}
.scrollTopBtn circle {
  transition: 0.2s;
}
.scrollTopBtn:hover circle:nth-of-type(1) {
  opacity: 0.4;
}
.scrollTopBtn:hover circle:nth-of-type(2) {
  opacity: 1;
}
.scrollTopBtn .mobile {
  display: none;
}
.bgLines {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  display: flex;
  flex-wrap: nowrap;
  pointer-events: none;
}
.bgLines .line {
  height: 100%;
  float: left;
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  width: calc((100% - 206px) / 8);
}
.bgLines .line:first-child {
  left: 0;
  width: 103px;
}
.bgLines .line:last-child {
  right: 0;
  width: 103px;
  border: 0;
}
.partnersBlock .bgLines .line,
.gridInfo:not(.reverce) .bgLines .line,
.howWork .bgLines .line,
.faqBlock .bgLines .line,
.aboutBlock .bgLines .line {
  border-right-color: rgba(136, 136, 136, 0.06);
}
.gridInfo.first .bgLines {
  top: -65px;
  bottom: -159px;
}
.priceBlock .bgLines .line {
  border-right-color: rgba(255, 255, 255, 0.1);
}
.illustration {
  position: absolute!important;
}
.mobile_row nav a.active {
  color: #00994E;
}
.gridInfo .container .row {
  pointer-events: all;
}
footer .logo svg {
  cursor: pointer;
}
.aos,
.firstScreen .content > *,
.gridInfo .text > *,
.advantages h2,
.advantagesList li .wrap,
.howWork .text > *,
.howWorkList li,
.aboutBlock .text > *,
blockquote,
.priceItem,
.faqBlock h2,
.accordion,
header {
  opacity: 0;
}
.bgLines {
  width: 100%;
  min-height: 100%;
  background: url(../img/lines.svg);
  background-position: center top;
  background-repeat: repeat-y;
}
.whiteBlock .bgLines {
  background-image: url(../img/lines_white.svg);
}
.bgLines.clone {
  background-image: url(../img/lines.svg);
}
.aboutBlock .container {
  z-index: 0;
}
.aboutBlock .container .columnLeft {
  position: relative;
  z-index: 1;
}
.aboutBlock .container {
  position: static;
}
.bgLines.clone .line {
  border-right-color: rgba(255, 255, 255, 0.1);
}
.content404 {
  text-align: center;
}
.content404 * {
  color: white;
}
.content404 h2 {
  margin-bottom: 34px;
}
.content404 .text {
  font-size: 24px;
  line-height: 150%;
}
.content404 .mainBtn {
  width: 308px;
  margin-top: 72px;
  color: #5C2707;
}
.content404 .logo svg {
  width: 103px;
  height: 79px;
}
.content404 .logo {
  margin-bottom: 47px;
}
.page404 {
  background: url(../img/404Bg.jpg) no-repeat center 0%;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 7%;
}
.page404 .bgLines {
  display: none!important;
}
.page404 .container {
  margin-top: 0;
  margin-bottom: 0;
}
.mainBtn .leftArrow {
  margin-right: 2px;
  margin-top: 2px;
}
.mainBtn .rightArrow {
  margin-left: 2px;
  margin-bottom: 2px;
}
.howWork h2 {
  letter-spacing: 0;
}
